# Data_Sciecne_Workbook

## Notebook for data science languages

1. R
2. Python
3. SQL
4. Scala
5. TABLEU

### List for data science libraries

1. scikit-learn
2. TensorFlow
3. PyTorch
4. Theano
5. panda
6. Matplotlib
7. Numpy

### Data science tools
|Number |Tools               |
|-------|--------------------|
|1.     |SQL.                |
|2.     |JUPYTER NOTEBOOK.   |
|3.     |PANDAS.             |
|4.     |DOCKER.             |

## Arethmatic Example

### Addition Operation
2+2

### Substraction operation
3-1

#### Arethmatic Operations

In [3]:
2+2  #Addition

4

In [4]:
3*2  #Multiplication

6

#### Conversion from Minutes to Hours

In [6]:
#print("Enter Minutes")
a = int(input())
print(a)
#print("Hours will be: ", a/60)

Enter Minutes

<class 'TypeError'>: unsupported operand type(s) for /: 'Future' and 'int'

In [20]:

minutes = 20
print("Hours will be:", minutes/60)

Hours will be: 0.3333333333333333

## Objectives 
1. Create new Code and Markdown cells within Jupyter Notebook.
2. Run Code and Markdown cells within Jupyter Notebook to execute Python code and render Markdown text.
3. List useful shortcuts for common tasks in Jupyter Notebook.

### Authors

[Laxshmi Holla](https://www.linkedin.com/in/lakshmi-holla-b39062149/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDS0105ENSkillsNetwork984-2022-01-01)

[Google](https://www.google.com/)